* {
}

p {
}

h1, h2 {
}

.center {
}

.survey {
}

#button1 {
}

section > iframe {
  border: none;
}

th ~ td {
}

h3 + canvas {
}

img.center {
}

/* Navigation bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #111;
}

/* Submit button */
input[type=submit] {
  width: 100px;
  transition: ease-in-out, width .35s ease-in-out;
}
input[type=submit]:hover {
  width: 150px;
}

/* Details and summary */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
}
summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}
details[open] {
  padding: .5em;
}
details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}
