@import url('https://fonts.googleapis.com/css?family=Work+Sans|Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

body {
  margin: 0;
}

hr {
  margin-top: 36px;
}

/* Text */
h1, h2, h3 {
  font-family: 'Work Sans', sans-serif;
  color: #8675a9;
}
h3 {
  padding-top: 24px;
}

/* Header and footer */
header{
  background-color: hsla(260, 23%, 56%, 0.10);
  border-color: rgb(134, 117, 169);
  border-style: dotted;
  border-width: medium;
  border-radius: 12px;
  margin-top: 2.5cm;
  margin-bottom: 1cm;
  margin-left: 1cm;
  margin-right: 1cm;
}
footer {
  text-align: center;
  background-color: #8675a9;;
  padding: 24px;
}

/* Icons */
.icons {
  font-size: 24px;
  text-align: center;
}
.icons > a {
  color: white;
  padding: 6px;
}
.icons > a:hover {
  color: lightgray;
}
.icons > a:active {
  color: gray;
}

/* Navigation bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  background-color: #8675a9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: hsl(260, 23%, 50%);
}

/* Button */
#button1 {
  border: 1px solid #8675a9;
  border-radius: 6px;
  background-color: #8675a9;
  color: white;
  margin: 5pt 0pt 5pt 0pt;
  padding: 5px;
}
#button1:hover, #button1:focus {
  background-color: rgba(0,0,0,0);
  color: #8675a9;
}

/* Submit button */
input[type=submit] {
  width: 100px;
  transition: ease-in-out, width .35s ease-in-out;
  text-align: center;
}
input[type=submit]:hover {
  width: 150px;
}

/* Details and summary */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
}
summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}
details[open] {
  padding: .5em;
}
details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

/* Aside */
aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #8675a9;
  font-style: italic;
  color: #8675a9;
  margin-top: 24px;
  position: relative;
}
aside > p {
  margin: .5rem;
}
aside > h3 {
  padding-top: 0;
}

/* Table */
th {
  color: #8675a9;
}
th ~ td {
  color: gray;
}
table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 6px;
}
table > caption {
  margin-bottom: 6px;
}

/* Images */
picture > img {
  margin-top: 50px;
  margin-bottom: 50px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Other */
.hidden {
  display: none;
}
.center {
  text-align: center;
}
iframe {
  border: none;
  max-width: 100%;
  min-width: 250px;
}
h3 + canvas {
  background-color: rgba(134, 117, 169, 0.25);
  width: 100px;
  height: 100px;
}
svg {
  width: 100px;
  height: 100px;
}

/* Flexbox */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-style: dotted;
  border-radius: 12px;
  border-color: rgb(134, 117, 169);
  padding: 6px;
}
.flex-item {
  flex-grow: 1;
  background-color: hsl(260, 23%, 75%);
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: 2px solid hsl(260, 23%, 50%);
  border-radius: 6px;
  color: hsl(260, 23%, 50%);
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 12px;
  row-gap: 12px;
  border-style: dotted;
  border-radius: 12px;
  border-color: rgb(134, 117, 169);
  padding: 12px;
}
.grid-item {
  background-color: hsl(260, 23%, 75%);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  border: 2px solid hsl(260, 23%, 50%);
  border-radius: 6px;
  color: hsl(260, 23%, 50%);
}

@media screen and (max-width: 768px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  nav ul {
    position: static;
  }
}